In [21]:
import pandas as pd
from graph_tool import load_graph

In [27]:
datasets = ['slashdot', 'twitter', 'dblp-collab', 'gplus', 'pokec']

In [28]:
gs = [load_graph('data/{}/graph.gt'.format(d)) for d in datasets]

In [29]:
n_nodes = [g.num_vertices() for g in  gs]
n_edges = [g.num_edges() for g in  gs]

In [77]:
time_dfs = [pd.read_pickle('outputs/paper_experiment/{}/si/tbfs/qs/0.1.time.pkl'.format(d)) for d in datasets]
times = [df['time']['mean'] for df in time_dfs]

In [78]:
def get_row_means(dfs, col):
    return [df[col]['mean'] for df in dfs]

In [79]:
score_dfs = [pd.read_pickle('outputs/paper_experiment/{}/si/tbfs/qs/0.1.pkl'.format(d)) for d in datasets]

In [80]:
score_dfs[0]

,n.prec,n.rec,obj,e.prec,e.rec,rank-corr,order accuracy
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,0.998340,0.143364,6193.870000,0.310625,0.044603,0.492102,0.958417
std,0.000634,0.001900,421.247729,0.020623,0.003067,0.030083,0.013231
min,0.996454,0.139011,5459.000000,0.275687,0.039170,0.393432,0.928504
25%,0.997938,0.142047,5815.250000,0.296772,0.042666,0.472090,0.949534
50%,0.998336,0.143133,6242.000000,0.307408,0.044158,0.490842,0.959434
75%,0.998758,0.144506,6516.500000,0.321560,0.046168,0.510764,0.967055
max,0.999847,0.149379,7032.000000,0.379326,0.055617,0.581264,0.990555

In [81]:
from collections import OrderedDict
d = OrderedDict()
d['dataset'] = datasets
d['n_nodes'] = n_nodes
d['n_edges'] = n_edges
d['running time'] = list(map(int, times))

d['n.prec'] = get_row_means(score_dfs, 'n.prec')
d['n.rec'] = get_row_means(score_dfs, 'n.rec')
d['e.prec'] = get_row_means(score_dfs, 'e.prec')
d['e.rec'] = get_row_means(score_dfs, 'e.rec')
d['rank corr'] = get_row_means(score_dfs, 'rank-corr')
d['order accuracy'] = get_row_means(score_dfs, 'order accuracy')

In [82]:
df = pd.DataFrame.from_dict(d)
# df.set_index('dataset', inplace=True)
df

,dataset,n_nodes,n_edges,running time,n.prec,n.rec,e.prec,e.rec,rank corr,order accuracy
0,slashdot,77360,905468,14,0.998340,0.143364,0.310625,0.044603,0.492102,0.958417
1,twitter,81306,1768149,18,0.995253,0.127777,0.160092,0.020548,0.491068,0.972546
2,dblp-collab,317080,1049866,69,0.987538,0.171335,0.332404,0.057669,0.421186,0.875705
3,gplus,107614,13673453,67,0.999800,0.113037,0.066765,0.007550,0.434652,0.985592
4,pokec,1632804,30622564,1207,0.988216,0.148471,0.121826,0.018307,0.348269,0.888288

In [83]:
print(df.to_latex(index=False,
                  column_format='c' * df.shape[1],
                  float_format=lambda f: '{:.2f}'.format(f),
                  bold_rows=True))

\begin{tabular}{cccccccccc}
\toprule
     dataset &  n\_nodes &   n\_edges &  running time &  n.prec &  n.rec &  e.prec &  e.rec &  rank corr &  order accuracy \\
\midrule
    slashdot &    77360 &    905468 &            14 &    1.00 &   0.14 &    0.31 &   0.04 &       0.49 &            0.96 \\
     twitter &    81306 &   1768149 &            18 &    1.00 &   0.13 &    0.16 &   0.02 &       0.49 &            0.97 \\
 dblp-collab &   317080 &   1049866 &            69 &    0.99 &   0.17 &    0.33 &   0.06 &       0.42 &            0.88 \\
       gplus &   107614 &  13673453 &            67 &    1.00 &   0.11 &    0.07 &   0.01 &       0.43 &            0.99 \\
       pokec &  1632804 &  30622564 &          1207 &    0.99 &   0.15 &    0.12 &   0.02 &       0.35 &            0.89 \\
\bottomrule
\end{tabular}